.text-content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
}

li {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: -15px;
}

.place-container {
  border: 1px solid grey;
  width: 400px;
  background-color: rgb(197, 235, 197);
  margin-top: 20px;
}

#map-container {
  position: relative;
  float: left;
  margin-left: 35px;
  margin-top: auto;
}

#feedback-box {
  border: 1px solid grey;
  width: 270px;
  background-color: rgb(199, 232, 245);
  padding: 2%;
  margin-top: auto;
  display: inline-block;
  margin-left: 15px;
}

.submit {
  background-color: rgb(197, 235, 197);
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
}

.button {
  width: 150px;
  padding: 5px;
  background-color: rgb(199, 232, 245);
}
